.container{
  background: none !important;
}
.filter-column{
  background: #fff !important;
  height: fit-content;
}
.collapse-btn {
  background: white;
  width: inherit;
  padding: 0;
  text-align: left;
}
#profile-img-center {
  position: absolute;
  /* left: 109px; */
  bottom: -45px;
  right: unset;
  left:35px;
  max-height: 210px;
  min-height: 210px;
  border: 2px solid #003363;
  max-width: 210px;
  min-width: 210px;
  /* top: 0; */
  /* margin-top: 199px!important; */
  z-index: 1000;
}
.viewmore-heading{
  color: #f57224 !important;
  cursor: pointer;
}
#category_slider li {
  display:none;
}
#showLess {
  display:none;
}
#brand_slider li {
  display:none;
}
#showLess2 {
  display:none;
}
.go-btn{
  color:#fff !important; background: #f57224
}
.dash-space{
  line-height: 35px;
}
#category_slider li a, #brand_slider li a {
  padding: .2rem 0rem .2rem 1rem;
}

@media only screen and (max-width: 425px){
  #prof-img-display{
    display: block !important;
  }
  #profile-img-center {
    position: absolute;
    left: 109px;
    bottom: -45px;
    right: unset;
    /* left:35px; */
    max-height: 100px;
    min-height: 100px;
    border: 2px solid #003363;
    max-width: 100px;
    min-width: 100px;
    /* top: 0; */
    /* margin-top: 199px!important; */
    z-index: 1000;
  }
}